@import 'tailwindcss';

* {
	user-select: none !important;
	transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, translate 0.2s ease-in-out, all 0.2s ease-in-out;
}

/* ::-webkit-scrollbar {
	width: 3px !important;
}

::-webkit-scrollbar-track {
	background: #000000 !important;
}

::-webkit-scrollbar-thumb {
	background: #03972f !important;
}

::-webkit-scrollbar-thumb:hover {
	background: #08ff3e !important;
} */


.navlink {
	position: relative;
	display: inline-block;
}

.navlink::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.25s ease-out;
}

.navlink:hover::after {
	transform: scaleX(1);
}

.navlink.active::after {
	transform: scaleX(1);
	transition: none;
}


@custom-variant dark (&:where(.dark, .dark *));